In [2]:
## lamda function
similar to user define function this function we called as anonym function becauze always lambda function it will start

SyntaxError: invalid syntax (724920956.py, line 2)

In [3]:
## add two number


def two_number_addition(a,b):
    return a+b

In [4]:
## lamda

lambda x: x
lambda x,y :x+y

lambda argument : expression

In [5]:
## add two number
a=lambda x,y :x+y

In [6]:
a(5,4)

9

In [7]:
a

In [9]:
## multiplcation

result=lambda x,y,z,w:x*y*z*w

In [10]:
result(5,4,8,7)

1120

In [11]:
### findd the square of number 
c=lambda x:x*x
c(2)

4

In [12]:
###  for expresion (a+b)^
a=lambda x,b:x*x+b*b+2*x*b
a=(5,4)

In [13]:
## take user number find number is even or odd
result=lambda x:"enter number is even" if x%2==0 else "number is odd"

In [14]:
xy =int(input("enter the number"))
print(result(xy))

enter number is even

In [15]:
result= lambda x:x[::1]

In [17]:
result([4,5,6,"yogesh",5,4])

[4, 5, 6, 'yogesh', 5, 4]

In [18]:
##### mapp(expression ,iterable)
#### list is given add 2 in all the even number
number=[2,3,4,5,6,7,8,9,]

In [19]:
list(map(lambda x:x+2 if x%2==0  else x,number))

[4, 3, 6, 5, 8, 7, 10, 9]

In [20]:
### 

def add_two_number(a,b):
    return a+b

In [21]:
list(map(add_two_number,[4,5],[5,6]))

[9, 11]

In [22]:
def number (a):
    return a+a
list(map( number , range (1,5)))

[2, 4, 6, 8]

In [24]:
## find out the factorial
number=int(input("enter the number"))
def factorial(a):
    return
    result=a
    return result
list(map(factorial,range(1,number+1)))

[None, None, None, None, None]

In [25]:
temperature =[32,32.56,34,56]   ### celius
## chnge to ferhit

list(map(lambda x: x*9/5 +32,temperature))

[89.6, 90.608, 93.2, 132.8]